    <head>
        <script src="js/checkfilled.js" defer></script>
        <script src="js/validatepw.js" defer></script>
    </head>
    <h1>Register</h1>
    <form action="/register" method="POST" id="form">
        <input type="text" name="name" id="name" placeholder="name" class="register-input">
        <input type="email" name="email" id="email" placeholder="Email" class="register-input">
        <input type="date" name="date" id="date" max="2002-01-01" placeholder="dd-mm-jjjj" class="register-input">
        <input type="password" name="password" id="password" placeholder="password" class="register-input password">
        <input type="password" name="password2" id="password2" placeholder="password" class="register-input password" onblur="validate()">
        <section class="select">
            <h2>Select a pokemon</h2>
            <input type="radio" name="pokemon" value="{{bulbasaur.name}}" id="{{bulbasaur.name}}">
            <label for="{{bulbasaur.name}}">
                <img src="{{bulbasaur.sprites.front_default}}" alt="{{bulbasaur.name}}">
            </label>
            <input type="radio" name="pokemon" value="{{charmander.name}}" id="{{charmander.name}}">
            <label for="{{charmander.name}}">
                <img src="{{charmander.sprites.front_default}}" alt="{{charmander.name}}">
            </label>
            <input type="radio" name="pokemon" value="{{squirtle.name}}" id="{{squirtle.name}}">
            <label for="{{squirtle.name}}">
                <img src="{{squirtle.sprites.front_default}}" alt="{{squirtle.name}}">
            </label>     
        </section>
        <button type="submit" class="submit" id="submit">Register</button>
    </form>
    <a href="/login">Login</a>
